.side-right {position:relative;}
.top-fixed {
    position:fixed;
        left: 200px;
    right: 0;
    z-index:2;
}
.exact-content {
    position: absolute;
    left: 200px;
    top: 55px;
    right: 0;
}
@media only screen and (max-width:600px) { 

  .syarat img {
    top:0%;
  }

  .featured-shipping-title h1 {
    width: 90%;
    font-size: 30px;
  }
  .ico-kirim, .ico-ongkir, .ico-lokasi {
    height: 72px !important;
  }
  .featured-wrap {
    padding: 30px 0px !important;
  }
  .featured-shipping {
      padding: 30px 50px 30px 50px !important;
  }
  .testimonial-wrap {
    padding: 30px 0px !important;
  }
  .testimonil-text {
    margin: -54px 30px 20px 30px !important;
  }
}
@media only screen and (max-width:425px) {
  .featured-shipping-title h1 {
    width: 95%;
    font-size: 25px;
  }
  .exact-content {
      top: 175px !important;
  }
  .search-top-bar {width:100% !important}
  .menu-bar-top-right {width:100% !important}
  .top-menu-right {
    float: none !important;
    text-align: center;
  }
  .top-menu-right ul {display:inline-table;text-align:center}
  .width-100-smallscreen {
    width:100% !important
  }
  .exact-dbmain-menu{
    margin:auto !important;
  }
  .exact-dbmenu-right li {
    padding: 10px 5px;
  }
  .top-menu-right{
    float:right;
  }
  .search-wrap {
    position:absolute;
  }
  .phone {
    display:none
  }
  .btn-search-custom {
    padding:0px !important;
    position:absolute;
        right: 30px;
        z-index: 3;
        font-size: 30px !important;
        top: 20px;
        background-color: transparent;

  }
  .result-title p{
    text-align:center;
  }
  .exact-dbmenu-right>li>a {
    float:left;
  }

  ul.exact-dbmenu-right {
      margin: 5px auto;
  }

}
@media only screen and (min-width:425px) {
  .modal-login {
    width:400px !important;
        margin: auto !important;
  }
}

  @media only screen and (max-width: 1024px) {
    .header-feature1,.header-feature2,.header-feature3,.header-feature4 {
    min-height:190px !important;
    }
  }
  @media only screen and (max-width: 800px) {
  .search-wrap {
    width:100%;
  }

  .social-network ul li p {
    display:none;
  }
  table.db-header-table tr td{
    text-align:right;
  }
  table.db-header-table tr td.color-gray{
    text-align:left;
  }
}
@media only screen and (max-width:992px) {
  .menu-exact-inside > li  {
    width:100%;
  }
  .field-join {
    margin-bottom:20px;
  }
  .field-join-col2 {
    margin-bottom:20px;
    padding:0px !important;
  }
  .about-exact p {
    padding:0px;
  }
  .header-inside {
    padding: 0px 0px;
  }
  .header-inside h5 {
    padding: 26px 0px;
  }
  .navbar-exact .navbar-toggle {
    margin-right:-10px !important;
  }
  .ico-kirim, .ico-ongkir, .ico-lokasi{
    width: 72px;
    height: 72px;
  }
  .search-wrap {
        height: 32%;
  }
  .search-wrap h1 {
    font-size: 28px;
    margin:auto;
  } 
  .search-wrap h2 {
    font-size: 20px;
    margin:auto
  }
  .featured h2 {
    font-size:18px
  }
  .featured h3 {
    font-size: 15px;
    margin: auto;}
    .featured {
    padding:10px;
  }
  .owl-dots {
    display:none
  }
  .input-group .form-control {
    z-index:1 !important;
  }
  .side-collapse-container.out .side-right .top-fixed{
    left:250px !important;
        transition: left .4s !important; 
  }
  .top-fixed {
    position:fixed;
        left: 0px;
    right: 0; 
  }
  .exact-content {
      position: relative;
      left: 0px;
      top: 110px;
      right: 0;
  }
  .margin-top-58 {
    margin:auto
  }

  .scrollbar-dynamic-form {
      position:relative;
      top:0;
      overflow:visible;
  }
  .side-right {
      top: 0px;
      position:relative;
  }
  .scrollbar-dynamic {
    max-height: 100% !important;
    overflow: auto;
    position: relative !important;
    width: auto !important;
    right: 0px !important;
    left: 250px !important;
    bottom: 60px !important;
    top: 0px !important;
  }
  .nav-collapse-inside {
    box-shadow: 0px 0px 15px grey !important;
    
  }
}

@media only screen and (max-width: 767px) {
  .form-left {
    margin:auto;
  }
  .form-right {
    margin:auto;
    border-left:none;
  }
  .margin-top-15-sm {
    margin-top:15px;
  }
  .menu-top-right-form{
    width:100%;
  }
  .menu-top-right-form ul li {
    width:33.33% !important;

  }
  .content-bottom-wrap{
    position:relative;
    right: 0;
    background: #fff;
    left:0;
    border-top: 1px solid #ddd;
  }
  .table-dashboard-wrap {
    height:auto;
  }
  .pagination-db {
    float:none
  }
  .pagination-db ul{
    margin: auto;
    text-align: center;
    display: table;
  }
  // mobile menu

  .search-custom {
    padding:20px;
  }
  .menu-exact>li>a {
    color:#000;
  }

  .menu-exact-right>li{
    float:none;
    text-align:center;
  }
  .menu-exact-right > li > a.btn-login .icon-ico-user:before {
    left: 64px;
}
  .testimonial-title h1  {
    width:75%;
    font-size: 28px;
  }
  .owl-carousel .owl-nav .owl-next {
    font-size:32px !important;
  }
  .owl-carousel .owl-nav .owl-prev {
    font-size: 32px !important;
  }

  .phone {
    width: 298px;
    height: 330px;
    background-image: url(../img/img-phone.png);
    background-repeat: no-repeat;
    background-size: 65%;
    position: absolute;
    bottom:0px;
    z-index: 1;
    margin-left:0px;
  }
  .social-network {
    float: none;
    text-align: center;

  }
  .social-network ul {
    text-align:center;
    display: inline-block;

  }
  .social-network ul li {
    text-align:center;
  }
  .social-network ul li p{
    display:none;
  }
  .copyright {
    text-align: center;
  }
  .logo-wrap.logo-wrap {
    float:none !important;
    margin:auto
  }
}
@media only screen and (min-width:993px) {
  .navbar-toggle-custom {
    display:none;
  }

  .exact-navbar {
    display:none !important;
  }
  .side-right {
    left: 200px !important;
  }
}

@media only screen and (max-width:992px) {
  .menu-exact>li {
    border-bottom:1px solid #eee;
  }
  .menu-exact {
    margin:auto !important;
  }
  .menu-exact .open .dropdown-menu>li>a {
    color:#fff;
  }
  .menu-exact .open .dropdown-menu>li>a:focus, .menu-exact .open .dropdown-menu>li>a:hover {
    background:rgba(0,0,0,0.5)
  }
  .side-collapse-container.out button.navbar-toggle-custom-db {
    color:#222 !important;
      background-color:transparent!important;
      border:none;
  }
  .scrollbar-dynamic {
      position: relative !important;
      top:0!important;
      left:0!important;
  }
  .hide-desktop {
    display:none !important;
  }
  //  Dashboard
  .menu-side {
    width:250px;
  }
  .logo-wrap {
    padding-left:30px;
  }
  .exact-navbar{
    position:relative;
    left: 0;
    z-index:3;
  }
  .menu-exact-right>li{
    width:100%;
    float: none;
    text-align: center;
    padding: 0px 10px;
  }
  .menu-exact-right > li > a.btn-login .icon-ico-user:before {
    left: 64px;
  }
  .side-collapse ul.navbar-right {
    margin:auto !important;
    float:left !important;
        width: 250px;
  }
  .navbar-toggle-custom {
    position:absolute;
    z-index:2
  }
  .navbar-toggle-custom-db {
    display:visible !important;
    font-size: 22px;
    padding: 10px 10px 0px 10px;
    position:fixed;
  }
  .dropdown-menu {
    position: relative !important;
    width:100%;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #f08b30 !important;
    /* -webkit-background-clip: padding-box; */
    /* background-clip: padding-box; */
    border:none !important;
    border-radius: 0px !important;
    /* -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175); */
    box-shadow: none !important;
  }
  .menu-exact>li>a {
    color: #000;
    text-align:center;
  }
  .menu-exact>li{
    width:100%;
    float:left;
  }
  .navbar-header {
    float:none !important;
  }
  .navbar-toggle-custom {
    display:visible;
  }
  .menu-side {
    position:relative;
  }
  .top-menu-wrap {
  }
  .side-right {
    position: relative;
    left:0px;
    right: 0;
    bottom: 0;
    top:0px;
  }

  .side-collapse.in {
      width:0;
  }
  .side-collapse-container{
    top: 0px;
      width:100%;
      position:relative;
      left:0;
      transition:left .4s;
  }
  .side-collapse-container.out{
      left:250px;
      position:fixed !important;
      top: 0px;
  }
  .side-collapse-container.out .overlay-block{
    background:rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    position:fixed;
    left:0;
    right:0;
    top:1px;
    bottom:0;
    z-index:2;
  }
  .side-collapse {
    top:0px;
    bottom: 0;
    left: 0;
    width: 250px;
    position: fixed;
    overflow: hidden;
    transition: width .4s;
    background: #fff;
    z-index: 999999;
  }
    .col-sm-5ths {
        width: 100%;
        float: left;
    }
}
@media (min-width: 768px) {
.col-sm-5ths {
        width: 20%;
        float: left;
    }
    .exact-navbar {

        left: 0;
        z-index: 999999;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }

    .scrollbar-dynamic {
        position:fixed !important;
        top:250!important;
        left:100!important;
    }




}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }

}
@media (max-width: 1439px) {
  .col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {min-height:115px;}

}
@media (max-width: 1200px) {
  .col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {min-height:178px;}
}
@media (min-width: 1201px) {
  .scrollbar-dynamic {
    top:190px !important;
  }
}
@media (max-width: 1024px) {
  .scrollbar-dynamic {
    top:253px !important;
  }
}
@media (max-width: 991px) {
  .scrollbar-dynamic {
    position:relative;
    top:0!important;
    left:0!important;
  }
  .menu-top-right-form ul li a {
    font-size: 11px;
  }
  .menu-top-right-form ul li {
    padding: 5px 2px;
  }
  .header-feature1, .header-feature2, .header-feature3, .header-feature4 {
    min-height: auto !important;
    height:auto;
  }
  table.db-header-table tr td {
    text-align: right;
  }
  table.db-header-table tr td.color-gray {
    text-align: left;
  }
  .content-bottom-wrap {
    position:relative;
    left:0px
  }
  .side-right {

  }
  .intro-logo {
    position: relative;
    float:left;
  }
  .navbar-collapse {
    display: block;
    background: #fff;
    border-radius:10px;
  }

  .menu-exact>li>a {
    text-align:center;
  }
  .menu-exact>li{
    width:100%;
  }
  .navbar-nav {
    width:100%;
  }
  .menu-exact-right > li > a.btn-download {
    display: inline-block;
    }
    .navbar-nav {
      margin: 7.5px auto !important;
  }
}
@media (min-width: 1440px) {
.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {min-height:95px;}
.scrollbar-dynamic {
  top:162px !important;
}
}


@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse.collapse {
      display: none !important;
  }
  .navbar-collapse.collapse.in {
      display: block !important;
  }
  .navbar-header .collapse, .navbar-toggle {
      display:block !important;
  }
  .navbar-header {
      float:none !important;
  }
  .navbar-exact.navbar-collapse.collapse {
    display: none!important;
  }
}
.margin-5 {
  margin:auto
}