<section>
        <header class="section" >
                <!-- <div class="container">
                    <div class="phone"></div>
                </div> -->
                <div class="header-wrap margin-bottom-20">
                    <!-- Navigation -->
                    <div class="container-fuid menu-wrap">
                        <div class="container">
                                <nav class="navbar navbar-exact">
                                        <!-- Brand and toggle get grouped for better mobile display -->
                                        <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#collapse" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <div class="intro-logo">
                                            <a href="#">
                                                <div class="logo"></div>
                                            </a>
                                        </div>
                                        </div>

                                        <div class="collapse navbar-collapse nav-collapse-inside " id="collapse" ng-controller="loginController">
                                        <ul class="nav navbar-nav menu-exact-inside ">
                                                <li><a ui-sref="join">Partnerships</a></li>
                                                <li><a data-toggle="modal" data-target="#myPenawaran">Penawaran</a></li>
                                        </ul>
                                        
                                        <ul class="nav navbar-nav navbar-right menu-exact-right" ng-controller="loginController">
                                            <li id="menu-login">
                                                <a  ng-click="getBarcode()" class="btn-login" data-toggle="modal" data-target="#login">
                                                    &nbsp;Login&nbsp;
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="btn-download">
                                                    Download App
                                                </a>
                                            </li>
                                        </ul>
                                        </div><!-- /.navbar-collapse -->
                                </nav>
                        </div>
                    </div>
                </div>
            </header>
    </section>
    <section class="header-inside syarat">
        <h5>Terms & Conditions</h5>
        <img src="http://exact.co.id/Image/syaratbg.jpg" >
        
    </section>
    <section class="content-inside">
        <div class="content-inside-box container">
                <div class="col-lg-12 indent">
                    <h4>Pendahuluan</h4>
                    <ul>
                        <li><p>Syarat dan ketentuan pengiriman exact adalah rangkaian kesepakatan pelayanan dasar antara exact dengan pelanggan, termasuk namun tidak terbatas pada pengirim, penerima, pembayar atau pihak lain yang berkepentingan terhadap pelayanan pengiriman exact dan kiriman yang sedang dilayani. </p></li>
                        <li><p>Syarat dan ketentuan pengiriman exact merupakan acuan kesepakatan utama yang secara otomatis membatalkan seluruh peraturan internal atau pernyataan exact, karyawannya, partner  atau kontraktor lainnya, baik tertulis atau tidak tertulis yang dianggap bertentangan. </p></li>
                        <li>
                                <p>Bagian-bagian syarat dan ketentuan pengiriman exact yang dianggap bertentangan dengan hukum yang berlaku atau peraturan lain dari pemerintah republik indonesia secara otomatis dianggap gugur atau dibatalkan. </p>
                        </li>
                        <li>
                                <p> Syarat dan ketentuan pengiriman exact di lampirkan dalam tiap applikasi pelanggan exact.</p>
                        </li>
                    </ul>
                </div>
                <br><br/>
                <div class="col-lg-12 indent">
                    <h4>Definisi</h4>
                    <ul>
                        <li><p>Aplikasi pelanggan exact adalah: website exact.co.id dan - atau program computer yang di aktivekan di peralatan computer atau smartphone pelanggan yang digunakan untuk keperluan pelayanan pengiriman exact.</p></li>
                        <li><p>Drop off point (dop) adalah: partner pelayanan exact yang terikat kerjasama secara hukum dengan exact.</p></li>
                        <li><p>PT. exact quality logistics (exact) adalah badan usaha yang tercatat di Indonesia yang melaksanakan kegiatan usaha Applicator yang menyediakan produk & tekhnologi logistics sebagai pelayanan logistics melalui partner yang ditunjuk.</p></li>
                        <li><p>Kiriman adalah: dokumen, paket atau komoditas lainnya yang tidak terlarang, yang diserahkan oleh pengirim kepada exact untuk dilakukan pelayanan pengirimannya hingga diterima oleh penerima.</p></li>
                        <li><p>Penerima adalah: pihak yang menjadi tujuan pengiriman</p></li>
                        <li><p> Pengirim adalah: personal, perusahaan atau organisasi berbadan hukum lainnya yang mencatatkan dan menyerahkan pelayanan kirimannya kepada exact.</p></li>
                        <li><p>Produk adalah: variasi layanan pengiriman exact yang dibedakan berdasar janji tiba pengiriman.</p></li>
                        <li><p>Servis adalah: pelayanan tambahan yang dipasangkan kedalam produk untuk meningkatkan nilai guna layanan pengiriman dan kepuasan pelanggan.</p></li>
                    </ul>     
                </div>
                <div class="col-lg-12 indent">
                    <h4>Tanggung jawab pengirim.</h4>
                    <ul>
                        <li><p>Pengirim bertanggung jawab untuk;</p></li>
                        <li><p>Memastikan bahwa kirimannya tidak berisi barang terlarang atau berbahaya untuk dikirimkan atau terlarang untuk dikirimkan melalui pengangkutan udara.</p></li>
                        <li><p> Mengemas kiriman sesuai standart pengemasan yang menjamin keamanan dan keselamatan kiriman.</p></li>
                        <li><p>Mencantumkan penandaan atau label penanganan khusus sesuai karakteristik isi kiriman yang diperlukan.</p></li>
                        <li><p>Mengetahui dan melampirkan kelengkapan seluruh syarat-syarat dan perizinan khusus yang dibutuhkan untuk pengiriman sebelum menyerahkan kiriman ke exact.</p></li>
                        <li><p>Mencatatkan seluruh informasi kiriman yang dibutuhkan, secara lengkap dan benar dengan di applikasi pelanggan exact dan kiriman.</p></li>
                        <li><p>Mencantumkan dan memastikan kebenaran informasi pengirim, penerima dan nomor kiriman secara lengkap di tiap pcs kemasan kiriman, baik dengan label/ resi yang dicetak melalui applikasi pelanggan exact maupun dengan dituliskan secara manual.</p></li>
                    </ul>
                </div>

                <div class="col-lg-12 indent">
                    <h4> Pernyataan pengirim.</h4>
                    <ul>
                        <li><p>Dengan mencatatkan dan mengirim melalui exact, pengirim menyatakan telah mengetahui dan menyetujui;</p></li>
                        <li><p>Seluruh syarat dan ketentuan pengiriman exact.</p></li>
                        <li><p>Akibat pelayanan dari pelanggaran syarat dan ketentuan exact.</p></li>
                        <li><p>Akibat hukum dari pelanggaran pengiriman barang terlarang dan terlarang untuk dikirimkan melalui pengangkutan udara.</p></li>
                    </ul>
                </div>
                <div class="col-lg-12 indent">
                    <h4> Barang terlarang</h4>
                    <p>Barang terlarang adalah komoditas yang karena peraturan perundang-undangan ri, peraturan pengangkut atau karena keputusan exact terlarang untuk dikirimkan, seprti, namun tidak terbatas pada:</p>
                    <ul>
                        <li><p>Surat atau warkat pos</p></li>
                        <li><p>Narkotika, obat-obatan terlarang atau zat psikotropika terlarang lainnya.</p></li>
                        <li><p>Mata uang, cheque, nota bank, perangko atau dokumen yang bernilai tunai tertentu.</p></li>
                        <li><p>Cetakan, citra elektronik, rekaman yang berisi material pornografi atau yang dianggap melanggar kesusilaan.</p></li>
                        <li><p>Hewan hidup, hewan atau tumbuhan lainnya yang dilindungi dan terlarang untuk diperdagangkan.</p></li>
                        <li><p>Senjata api dan amunisi.</p></li>
                        <li><p>Potongan tubuh hewan dan manusia, baik yang diawetkan atau belum diawetkan.</p></li>
                        <li><p>Dan lain-lain.</p></li>
                    </ul>
                </div>


                <div class="col-lg-12 indent">
                    <h4> Janji tiba kiriman.</h4>
                    <ul>
                        <li><p>Janji tiba kiriman diperhitungkan secara otomatis berdasar jumlah tambahan hari sesuai produk yang dipilih sejak hari atau tanggal pencatatan atau penerimaan kiriman sebelum jam tutup pada hari kirim aktif exact.</p></li>
                        <li><p>Tambahan hari yang diperhitungkan adalah hari kerja Senin sampai dengan Sabtu, tidak termasuk hari minggu atau hari libur di asal dan tujuan kirim, kecuali servis pengantaran hari sabtu, minggu atau libur dipilih oleh pengirim.</p></li>
                        <li><p>Janji tiba seluruh kiriman yang dicatatkan setelah jam tutup pencatatan kiriman atau yang diserahkan setelah jam tutup penerimaan kiriman akan dimajukan perhitungannya ke hari kirim aktive berikutnya.</p></li>
                        <li><p>exact memberikan jaminan pengembalian ongkir (MBG) atas tiap keterlambatan penyampaian kiriman dengan produk tertentu, yang melampaui janji tiba kiriman yang semata disebabkan oleh exact.</p></li>
                    </ul>
                </div>


                <div class="col-lg-12 indent">
                    <h4> Perhitungan biaya kirim</h4>
                    <ul>
                        <li><p>exact menetapkan ongkir berdasar satuan kota atau kabupaten sesuai ketetepan pemerintah.</p></li>
                        <li><p>Perhitungan ongkir ditetapkan dalam satuan Kg sesuai berat timbangan atau volume kiriman, yang mana yang terbesar. Perhitungan volume dilakukan dengan formula: panjang x lebar dibagi dengan 6.000.-, untuk kiriman dibawah 50 Kg, dan panjang x lebar dibagi dengan 4.000.-, untuk kiriman > 50 Kg.</p></li>
                        <li><p>Pengirim dapat mencatatkan berat kiriman dalam satuan kg atau ons, atau kg dengan pecahan 1/ 10 kg (1 per10 Kg). exact tidak melakukan pembulatan berat kiriman dalam perhitungan ongkir.</p></li>
                        <li><p>exact berhak merubah berat kiriman yang pencatatan beratnya tidak akurat. Perubahan berat kiriman dilakukan dengan penimbangan ulang pada saat pick-up & penerimaan di drop off point. Perubahan berat akan merubah perhitungan biaya kirim yang dapat ditagihkan kemudian kepada pengirim atau pembayar lainnya.</p></li>
                        <li><p>exact berhak menimbang ulang dan merubah perhitungan dan penagihan biaya kirim melalui invoice di seluruh aktivitas pelayanan pengiriman sebelum kiriman diserhkan kepada penerima.</p></li>
                        <li><p>exact menambahkan biaya pengantaran luar kota untuk kiriman dengan alamat penerima yang berada di luar kota. Biaya pengantaran luar kota diperhitungkan dalam jumlah nominal (Rp.) tertentu untuk tiap kiriman sesuai lokasi pengantaran kiriman.</p></li>
                        <li><p>Biaya tambahan barang berbahaya dan penanganan kiriman dengan berat tertentu lainnya di perhitungkan dengan tambahan persentase tertentu dari ongkir kotor.</p></li>
                    </ul>
                </div>


                <div class="col-lg-12 indent">
                    <h4> Batasan pelayanan</h4>
                    <ul>
                        <li><p>Berat maximal tiap pcs kiriman Express adalah 35 kg atau volume. Berat maximal tiap pcs kiriman Freight adalah 500 kg atau volume.
                            </p></li>
                        <li><p> Ukuran minimal kiriman yang dapat dilayani adalah 20cm x 20cm x 0.5cm. Kiriman dengan ukuran kurang dari ukuran minimal wajib dimasukkan kedalam kemasan yg memenuhi standart ukuran minimal</p></li>
                        <li><p>Maximal jumlah paket (pcs) tiap kiriman express adalah: 4 paket. Jumlah maximal paket tiap kiriman freight adalah: 1 paket.</p></li>
                        <li><p> Nilai nominal maximal tiap kiriman adalah Rp. 90.000.000.-</p></li>

                    </ul>
                </div>
                <div class="col-lg-12 indent">
                    <h4> Penggantian kerugian.</h4>
                    <ul>
                        <li><p>Penggantian kerugian isi kiriman yang mengalami kerusakan fisik sebagian yang dapat diperbaiki adalah sebesar biaya perbaikan atau biaya penggantian isi kiriman yang mana yang terkecil.</p></li>
                        <li><p>Penggantian kerugian kiriman hilang atau isi kiriman rusak fisik total atau tidak dapat diperbaiki dan tidak di asuransikan adalah sebesar Rp. 200.000/ kg atau maksimal sebesar Rp. 5.000.000/ paket kiriman, atau sebesar nilai kiriman sebenarnya, yang mana yang terkecil.</p></li>
                        <li><p>Penggantian kerugian kiriman hilang atau isi kiriman rusak fisik total yang diasuransikan adalah sebesar nilai asuransi yang telah dicatatkan sebelumnya di applikasi pelanggan exact.</p></li>
                        <li><p>exact berhak mengambil alih isi kiriman dengan kerusakan fisik total yang telah dilakukan penggantian kerugiannya.</p></li>
                    </ul>
                </div>
                <div class="col-lg-12 indent">
                    <h4> Pengecualian tanggung jawab.</h4>
                    <p>exact dilepaskan dari dan tidak bertanggung jawab atas hal-hal sbb:</p>
                    <ul>
                        <li><p>Kegagalan atau keterlambatan pelayanan yang disebabkan kekurangan atau kesalahan informasi dalam pencatatan kiriman di applikasi pelanggan exact atau yang dicantumkan di kiriman.</p></li>
                        <li><p>Kegagalan atau dihentikannya pelayanan terhadap kiriman yang berisi barang terlarang atau berbahaya.</p></li>
                        <li><p>Penggantian kerugian atas hilangnya kemungkinan mendapatkan keuntungan yang disebabkan, rusak, hilang atau terlambatnya pengantaran atau penyediaan kiriman untuk diambil di exact.</p></li>
                        <li><p>Penggantian kerugian atas kerusakan non-fisik, tehnik atau tidak beroperasinya isi kiriman tertentu.</p></li>
                        <li><p>Penggantian kerugian atas rusaknya isi kiriman yang disebabkan oleh sifat alamiah isi kiriman, seperti namun tidak terbatas pada penguapan, pembusukan, dll.</p></li>
                        <li><p>Penggantian kerugian atas penahanan atau penyitaan kiriman oleh instansi pemerintah yang berwenang yang disebabkan oleh kondisi isi kiriman, kurangnya syarat, perizinan khusus, diskresi instnasi pemerintah, dll.</p></li>
                        <li><p>Kehilangan sebagian atau seluruh isi kiriman yang telah diterima oleh penerima kiriman dalam kondisi kemasan yang tidak rusak, robek, bolong, terbuka atau dikemas ulang.</p></li>
                        <li><p>Ketidak sesuaian sebagian atau seluruh isi kiriman yang telah diterima oleh penerima dalam kondisi kemasan yang tidak rusak robek, bolong, terbuka atau dikemas ulang.</p></li>
                        <li><p> Penggantian kerugian karena gagalnya pelayanan, rusak atau hilangnya kiriman yang disebabkan oleh keadaan “kahar” atau force majeur, seperti, tapi tidak terbatas pada; peperangan, kerusuhan, bencana  alam, banjir, kebakaran, pemogokan kerja, dll.</p></li>
                        
                    </ul>
                </div>  
                
                <div class="col-lg-12 indent">
                    <h4>Penerimaan kiriman</h4>
                    <ul>
                        <li><p>exact bertanggung jawab atas keselamatan, keamanan, dan pelayanan tiap kiriman yang telah diterima hingga diserahkan kepada penerima.</p></li>
                        <li><p>Penerimaan kiriman dianggap sah bila kiriman dan pembayaran telah diterima dan dicatatkan oleh karyawan exact atau dop ke dalam applikasi internal exact dan tercatat di dalam applikasi pelanggan sebagai kiriman dengan status PUP atau DOP.</p></li>
                        <li><p>Exact menerbitkan tanda terima kiriman electronic didalam applikasi pelanggan.</p></li>
                        <li><p>Penyerahan kiriman di dop dapat dilakukan sebelum waktu tutup penerimaan kiriman (maximal waktu drop off) yang telah ditetapkan sebelumnya. Penyerahan kiriman setelah waktu tutup penerimaan, secara otomatis menunda awal perhitungan janji tiba kiriman ke hari kirim active berikutnya.</p></li>
                        <li><p>Karyawan services partner exact atau dop berhak menimbang ulang berat atau mengukur volume kiriman yang diterima, perubahan berat atau volume kiriman yang menyebabkan perubahan biaya kirim menjadi biaya kirim yang akan ditagihkan kepada pengirim.</p></li>
                        <li><p> Perubahan ongkir dan biaya lainnya yang disebabkan perubahan berat atau volume kiriman akan dilakukan dengan perhitungan sejajar tanpa mempertimbangkan perbedaan skala tariff berdasar berat.</p></li>
                        <li><p>Dalam kondisi tertentu untuk tujuan keselamatan, karyawan services partner exact atau dop dapat meminta pengirim untuk membuka dan memeriksa isi kiriman. exact dapat menolak pick-up atau penerimaan kiriman yang oleh pengirim ditolak untuk diperiksa.</p></li>
                        
                    </ul>
                </div>  

                <div class="col-lg-12 indent">
                    <h4>Penjemputan kiriman (pick-up)</h4>
                    <ul>
                        <li><p>Exact memberikan pelayanan penjemputan kiriman di alamat baik dengan atau tanpa biaya kepada pengirim yang telah mencatatkan kiriman dalam jumlah tertentu. Permintaan penjemputan kiriman dari lokasi dalam kode pos tertentu yang belum mencapai batas minimum penjemputan tanpa biaya akan dikenakan biaya penjemputan sesuai kekurangan dari batas minimal yang ditetapkan.</p></li>
                        <li><p>Pelanggan dapat mencatatkan permintaan penjemputan kiriman dengan menggunakan applikasi pelanggan exact sebelum batas waktu permintaan penjemputan.</p></li>
                    </ul>
                </div>  


                <div class="col-lg-12 indent">
                    <h4>Wilayah pelayanan.</h4>
                    <ul>
                        <li><p>exact mendefinisikan wilayah pelayanannya berdasar satuan kabupaten atau kota yang dibagi dalam satuan kode pos yang ditetapkan oleh pemerintah.</p></li>
                        <li><p>Aktivasi dan pembatalan aktivasi wilayah pelayanan tertentu dapat dilakukan sewaktu-waktu oleh exact tanpa pemberitahuan sebelumnya.</p></li>
                        <li><p>Pembatalan aktivasi wilayah pelayanan tertentu secara otomatis menonaktivekan pencatatan kiriman dengan applikasi pelanggan ke wilayah pelayanan tersebut.</p></li>
                        
                    </ul>
                </div> 
                
                
                <div class="col-lg-12 indent">
                    <h4>Kiriman berbahaya (dangerous goods)</h4>
                    <ul>
                        <li><p>Exact melayani pengiriman kiriman berbahaya sesuai batasan kelas yang yang dapat diangkut pengangkutan tanpa izin khusus.</p></li>
                        <li><p>Pengirim wajib mencatatkan kiriman berbahaya dengan menggunakan menu pencatatan khusus kiriman berbahaya yang terpisah dari pencatatan kiriman lainnya di applikasi pelanggan exact.</p></li>
                        <li><p>Pengirim wajib mencatatkan informasi tambahan seperti, namun tidak terbatas pada, nomor kelas bahaya, nomor kontak 24 jam, dan informasi yang berkaiatan dengan sifat bahaya kiriman lainnya sesuai standart dokumentasi barang berbahaya yang telah ditetapkan sebelumnya.</p></li>
                        <li><p>Pengirim wajib mengemas kiriman berbahaya dengan maksimal berat sesuai standart maksimal berat dan kemasan. Pengirim wajib menandai atau atau membubuhkan label kiriman berbahaya sesuai standart pelabelan.</p></li>
                        <li><p>exact membebankan biaya tambahan penanganan kiriman berbahaya dalam persentase tertentu dari ongkos kirim.</p></li>
                    </ul>
                </div> 


                <div class="col-lg-12 indent">
                    <h4> Pengangkutan kiriman</h4>
                    <ul>
                        <li><p>exact berhak memilih pola pengangkutan kiriman sesuai ketersediaan sarana pengangkutan dengan mempertimbangkan keamanan, keselamatan dan ketepatan waktu penyampaian kiriman.</p></li>
                        <li><p>exact berhak menggunakan pengangkutan pihak ketiga yang dianggap sesuai dengan standart keamanan, keselamatan dan ketepatan waktu penyampaian kiriman.</p></li>
                        
                    </ul>
                </div> 


                <div class="col-lg-12 indent">
                    <h4>Peng-antaran (delivery).</h4>
                    <ul>
                        <li><p>exact berkewajiban mengantarkan kiriman ke alamat penerima sesuai tanggal - hari dan jam janji tiba kiriman sesuai informasi janji tiba pada saat pencatatan kiriman.</p></li>
                        <li><p>exact tidak melakukan pengantaran pada hari minggu dan hari libur, keculai servis antar pada hari  minggu atau hari libur dipilih.</p></li>
                        <li><p>exact berkewajiban melakukan 1 (satu) kali pengantaran ke alamat rumah (resident). Bila penerima atau pihak lain yang berhak menerima tidak berada di alamat, exact berhak menempatkan kiriman di lokasi dop terdekat dengan alamat penerima atau sesuai lokasi ambil di exact yang telah ditetapkan penerima.</p></li>
                        <li><p>exact berkewajiban untuk selalu berusaha menyerahkan kiriman ke penerima yang tercatat. exact berhak menyerahkan kiriman kepada penerima lain yang sah di alamat yang yang penerima bila penerima yang tercatat tidak berada di alamat tersebut.</p></li>
                        <li><p>exact berkewajiban merekam tanda tangan penerima sebagai bukti penerimaan kiriman (Proof Of Delivery). Tanda tangan penerima akan direkam secara elektronik pada applikasi internal exact dengan cara-cara yang menjamin tidak terjadinya pemalsuan, duplikasi dan penyalah gunaan.</p></li>
                        <li><p>exact tidak bertanggung jawab menyerahkan atau meminta dokumen atau tanda terima selain yang digunakan exact secara internal.</p></li>
                        <li><p>exact bertanggung jawab untuk menyimpan rekaman bukti tanda terima secara aman untuk jangka waktu tertentu sesuai peraturan hukum yang berlaku.</p></li>
                        
                    </ul>
                </div> 
                <div class="col-lg-12 indent">
                    <h4> Ambil di exact</h4>
                    <ul>
                        <li><p>Exact akan menunda pengantaran dan menahan kiriman “ambil di exact” di drop off point yang terdekat dengan alamat penerima atau sesuai dengan drop off point yang dipilih penerima sesuai lokasi ambil di exact yang telah ditentukan sebelumnya.</p></li>
                        <li><p>Penerima kiriman ambil di exact akan menerima pemberitahuan melalui applikasi pelanggan exact setelah kirimannya tersedia di lokasi pengambilan yang ditentukan.</p></li>
                        <li><p> Penerima kiriman berkewajiban mengambil sendiri kirimannya pada jam kerja maksimal 3 hari kerja setelah tersedia di lokasi pengambilan dengan menunjukkan pemberitahuan pengambilan dan tanda pengenal diri.</p></li>
                        <li><p>Kiriman yang tidak diambil setelah 3 hari kerja tanpa pemberitahuan dari penerima kiriman hanya dapat diambil dengan pemberitahuan kepada lokasi pengambilan via telephone.</p></li>
                        <li><p>Kiriman yang tidak diambil setelah 7 hari kerja akan dihentikan pelayanannya dengan persetujuan pengirim.</p></li>
                        
                    </ul>
                </div> 

                <div class="col-lg-12 indent">
                    <h4> Kiriman tidak ter-antar</h4>
                    <ul>
                        <li><p> exact akan melakukan penanganan masalah seluruh kiriman tidak ter-antar maximal 12 jam setelah kiriman tidak ter-antar.</p></li>
                        <li><p>Pengantaran ulang kiriman hanya dilakukan bila penyebab kegagalan pengantaran telah dikonfirmasi diperbaiki oleh pengirim atau penerima.</p></li>
                        <li><p>exact akan menghentikan penanganan masalah kiriman bila pengirim atau penerima kiriman tidak memperbaiki penyebab kiriman tidak ter-antar setelah 12 hari kerja.</p></li>
                        <li><p>exact akan memusnahkan kiriman bila pengirim atau penerima kiriman tidak memperbaiki penyebab kiriman tidak ter-antar setelah 90 hari kerja. Proses pemusnahan kiriman akan dilakukan sesuai procedure yang telah ditetapkan</p></li>
                    </ul>
                </div> 

                <div class="col-lg-12 indent">
                    <h4> Pengembalian kiriman (return).</h4>
                    <ul>
                        <li><p>Pengirim berhak meminta pengembalian (return) kiriman yang tidak ter-antar ke alamat pengirim awal atau alamat lainnya sesuai kebutuhan pengirim.</p></li>
                        <li><p>Pengirim atau pemilik kiriman yang meminta retur berkewajiban menanggung biaya pengiriman return. </p></li>
                        <li><p>Return akan dilakukan dengan pencatatan ulang kiriman sebagai kiriman baru berdasar nomor kiriman yang akan di return.</p></li>
                        <li><p>Ketidak tersediaan nomor kiriman awal dapat membatalkan pengembalian kiriman dengan proses return.</p></li>
                        
                    </ul>
                </div> 
                

                <div class="col-lg-12 indent">
                    <h4>Kiriman hilang</h4>
                    <ul>
                        <li><p>exact berkewajiban memberitahu pengirim tentang hilangnya kiriman yang sedang dalam pelayanannya maximal 3 (tiga) hari kerja sejak janji tiba kiriman terlewati.</p></li>
                        <li><p>Pemberitahuan kehilangan kiriman kepada pengirim secara otomatis akan dianggap sebagai pencatatan keluhan dan claim yang disampaikan pengirim.</p></li>
                        
                    </ul>
                </div> 



                <div class="col-lg-12 indent">
                    <h4>  Pencatatan keluhan dan ganti rugi (claim).</h4>
                    <ul>
                        <li><p>Pencatatan keluhan atas kiriman hanya dapat dilakukan oleh pengirim, penerima atau pembayar biaya pengiriman melalui fasiltas keluhan di applikasi pelanggan exact.</p></li>
                        <li><p>Penyampaian keluhan kiriman belum diterima hanya dapat dilakukan maximal 12 hari kerja setelah waktu janji tiba kiriman terlewati.</p></li>
                        <li><p>Penyampaian keluhah kiriman yang telah diterima hanya dapat dilakukan maximal 2 hari kalender sejak kiriman diterima.</p></li>
                        <li><p>Bila dianggap memenuhi syarat, keluhan yang telah tercatat dan diverifikasi dapat ditingkatkan statusnya menjadi claim atau penggantian kerugian.</p></li>
                        <li><p>Jumlah maksimal klaim MBG akan diperhitungkan hanya sesuai jumlah ongkos kirim dikurangi discount yang telah atau akan dibayarkan.</p></li>
                        <li><p>Claim penggantian kerusakan atau kehilangan hanya dapat dilakukan pengirim sebagai pemilik kiriman.</p></li>
                        <li><p>Persetujuan atau penolakan claim akan disampaikan kepada pihak yang mengajukan keluhan maximal 7 hari kerja sejak keluhan di tingkatkan menjadi claim.</p></li>
                        
                    </ul>
                </div> 



                <div class="col-lg-12 indent">
                    <h4> Ubah  layanan</h4>
                    <ul>
                        <li><p>Pengirim atau penerima kiriman dapat meminta perubahan layanan atas kiriman yang belum diserahkan kepada atau diterima oleh penerima.</p></li>
                        <li><p>Exact akan mengenakan biaya tambahan untuk perimintaan ubah layanan tertentu yang telah dicatatkan pengirim atau penerima.</p></li>
                        <li><p>Permintaan ubah layanan yang secara otomatis akan membatalkan janji tiba kiriman sesuai janji tiba pada pencatatan kiriman</p></li>
                        
                    </ul>
                </div> 

                <div class="col-lg-12 indent">
                    <h4>Pembayaran claim</h4>
                    <ul>
                        <li><p>Pembayaran claim kehilangan atau kerusakan kiriman akan dilakukan dengan top-up saldo mysaving pengirim atau pemilik kiriman.</p></li>
                        <li><p>Pembayaran claim MBG kiriman dengan pembayaran cash, saving atau invoice yang telah terbayar akan dilakukan dengan top-up ongkir my saving pembayar kiriman.</p></li>
                        <li><p>Pembayaran claim MBG kiriman dengan pembayaran invoice yang belum diterbitkan akan dilakukan dengan pengecualian ongkir kiriman tersebut dari invoice yang akan diterbitkan.</p></li>
                        <li><p>Pembayaran claim akan dilakukan maximal 3 hari kerja setelah claim disetujui oleh bagian penanganan claim exact.</p></li>
                        
                    </ul>
                </div> 


                <div class="col-lg-12 indent">
                    <h4> Pencatatan ubah pelayanan.</h4>
                    <ul>
                        <li><p>Pengirim, penerima atau pembayar kiriman dapat meminta perubahan pelayanan atas kiriman yang sedang dalam proses pelayanan exact. Pencatatan permintaan ubah pelayanan hanya dapat dilakukan melalui applikasi pelanggan exact.
                            </p></li>
                        <li><p>Perubahan pelayanan hanya dapat dilakukan bila kiriman masih dalam pelayanan exact atau belum diserahkan kepada penerima.</p></li>
                        <li><p>Persetujuan atau penolakan permintaan ubah pelayanan akan di sampaikan kepada pelanggan pada jam kerja maximal 6 jam setelah dicatatkan.</p></li>
                    </ul>
                </div> 


                <div class="col-lg-12 indent">
                    <h4> Biaya tambahan BBM [fuel surcharges]</h4>
                    <ul>
                        <li><p>exact berhak menambahkan biaya tambahan kenaikan bahan bakar minyak (bbm) dalam jumlah persentase tertentu dari ongkos kirim bila pemerintah memutuskan kenaikan harga bbm dan - atau bila pelaku pengangkutan udara mengenakan biaya kenaikan bbm.</p></li>
                        <li><p>Tambahan kenaikan harga bbm dijumlahkan ke ongkir setelah dikurangi discount promo cash atau discount lainnya.</p></li>
                        <li><p>exact berkewajiban menyampaikan pemberitahuan pengaktivan biaya tambahan bbm kepada pemakai jasa minimal 5 hari kerja sebelum pengaktivan dilakukan.</p></li>
                    </ul>
                </div> 

                <div class="col-lg-12 indent">
                    <h4> Pajak pertambahan nilai (ppn)</h4>
                    <ul>
                        <li><p> Ongkir dan biaya lainnya yang di cantumkan dalam daftar harga belum termasuk PPN.</p></li>
                        <li><p>exact membebankan PPN sebesar 1% dari keseluruhan biaya kirim bersih tiap kiriman.</p></li>
                        
                    </ul>
                </div> 
                <div class="col-lg-12 indent">
                    <h4> Kawasan perdagangan bebas</h4>
                    <ul>
                        <li><p>Kiriman dengan isi selain dokumen dari kawasan perdagangan bebas (FTZ) ke tujuan kirim selain kawasan perdagangan bebas lainnya akan dikenakan bea masuk di port tujuan kirim.</p></li>
                        <li><p>Bea masuk akan diperhitungkan sesuai kategori isi kiriman, nilai isi kiriman dan tariff bea masuk yang ditetapkan bea cukai di tujuan kirim.</p></li>
                        <li><p>Bea masuk atas kiriman akan secara otomatis dibebankan kepada pengirim dan menjadi bagian biaya kirim yang dibayarkan pengirim.</p></li>
                        <li><p>Pembebanan PPN bagi seluruh kiriman dari kawasan perdagangan bebas akan ditiadakan.</p></li>
                        
                    </ul>
                </div> 
                <div class="clearfix"></div>
            
        </div>
    </section>
    <div class="container">
        <div class="border-bottom-1"></div>
    </div>
    <section>
            <div class="container-fluid feature-bottom">
                    <div class="container">
                        <div class="col-lg-4 about-exact">
                            <center>
                                <a href="#">
                                    <div class="logo"></div>
                                </a>
                            </center>
                            <p>
                                exact adalah "penyedia layanan logistics digital". exact berkomitment untuk
                                memberikan layanan logistics on-line yang "memudahkan,efisien dan tepat" untuk
                                kebutuhan usaha dan perorangan, sembari menumbuhkan ribuan usaha logistics baru melalui jaringan 
                                partnerships exact.
                            </p>
                        </div>
            
                        <div class="col-lg-4 sitemap">
                            <h4>Sitemap</h4>
                            <ul>
                                <li><a ui-sref="syarat" >Terms & conditions</a></li>
                                <li><a href="#">Products</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
            
                        <div class="col-lg-4 download">
                            <h4>Available App On</h4>
                            <h5>Android</h5>
                            <a href="#">
                                <div class="btn-android"></div>
                            </a>
                            <h5>IOS</h5>
                            <a href="#">
                                <div class="btn-ios"></div>
                            </a>
                        </div>
                        
                    </div>
                </div>
                    
                    
                <footer class="container-fluid bg-green section fp-auto-height" >
                    <div class="container">
                        <div class="col-sm-8 col-lg-6 copyright">
                            <p>Copyright © PT Exact Quality Logistics 2017. All right reserved</p>
                        </div>
                        <div class="col-sm-4 col-lg-6">
                            <div class="social-network">
                                <ul>
                                    <li><p>Join with us</p></li>
                                    <li><a href="#"><span class="icon-ico-facebook"></span></a></li>
                                    <li><a href="#"><span class="icon-ico-twitter"></span></a></li>
                                    <li><a href="#"><span class="icon-ico-google"></span></a></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
    </section>




<!-- Modal -->
<div id="login" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <!--            <div class="modal-header">
                         
                            <h4>Exact Login</h4>
                        </div>-->
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="row">
                    <div class="col-sm-5">
                        <br>
                        <h4>
                            Scan QR code menggunakan aplikasi myexact di smartphone anda
                        </h4>
                        <div style="position: relative;">
                            <div id="barcode">

                            </div>
                            <img src="http://exact.co.id/x.png" style="width: 42px;height: 42px;left: 129px;position: absolute;top: 129px;z-index: 100px;background-color: #ffffff;border-radius: 0px;padding: 3px 3px 3px 3px;">
                        </div>

                    </div>
                    <div class="col-sm-1 no-padding">
                        <div class="headerDivider-login"></div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <h4>Unduh aplikasi mobile myexact ke smartphone anda</h4>
                        </div>
                        <div class="col-lg-4 download no-padding">
                            <h5>Android</h5>
                            <a href="#">
                                <div class="btn-android"></div>
                            </a>
                            <h5>IOS</h5>
                            <a href="#">
                                <div class="btn-ios"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog" ng-controller="loginController">
    <div class="modal-dialog modal-login">
        Modal content
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <center><div class="logo logo-login"></div></center>
            <div class="form-login">
                <form>
                    <div class="input-group form-group">
                        <span class="input-group-addon icon-login"><span class="icon-ico-username"></span></span>
                        <input id="email" type="text" class="form-control form-custom" name="email" placeholder="Email" ng-model="email">
                    </div>
                    <div class="input-group form-group">
                        <span class="input-group-addon icon-login"><span class="icon-ico-password"></span></span>
                        <input id="password" type="password" class="form-control form-custom" name="password" placeholder="Password" ng-model="password">
                    </div>
                    <div>
                        <button type="button"  class="btn btn-orange" data-dismiss="modal" ng-click="login()">Login</button>
                    </div>
                </form>
                <div class="clearfix"></div>
                <div class="forget">
                    <a href="#" >Forgot Password?</a>
                    <a href="#" class="float-right register">Register</a>
                </div>
            </div>
        </div>

    </div>
</div>

<!--        modal bisnis-->
<div id="myPenawaran" class="modal fade" role="dialog" ng-controller="penawaranController">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Minta Penawaran</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form class="form-horizontal">
                        <div class="form-group form-group-custom">
                            <label class="control-label col-sm-3">Nama Lengkap</label>
                            <div class="col-sm-9">                              
                                <input  type="text" class="form-control form-control-custom">
                            </div>
                        </div>
                        <div class="form-group form-group-custom">
                            <label class="control-label col-sm-3">No Ponsel</label>
                            <div class="col-sm-9">                              
                                <input  type="text" class="form-control form-control-custom" maxlength="15">
                            </div>
                        </div>
                        <div class="form-group form-group-custom">
                            <label class="control-label col-sm-3">Email</label>
                            <div class="col-sm-9">                              
                                <input  type="email" class="form-control form-control-custom">
                            </div>
                        </div>
                        <div class="form-group form-group-custom">
                            <label class="control-label col-sm-3">Nama Perusahaan</label>
                            <div class="col-sm-9">                              
                                <input  type="text" class="form-control form-control-custom" placeholder="Bila perusahaan">
                            </div>
                        </div>
                        <div class="form-group form-group-custom">
                            <label class="control-label col-sm-3">Badan Usaha</label>
                            <div class="col-sm-9">
                                <select class="form-control form-control-custom" style="font-size: 12px;" required>
                                    <option>PT</option>
                                    <option>CV</option>
                                    <option>Prorangan</option>
                                    <option>Koperasi</option>
                                    <option>Lainnya</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-group-custom">
                            <label class="control-label col-sm-3">Bidang Usaha</label>
                            <div class="col-sm-9">                              
                                <input  type="text" class="form-control form-control-custom">
                            </div>
                        </div>
                        <div class="form-group form-group-custom">
                            <label class="control-label col-sm-3">Alamat</label>
                            <div class="col-sm-9">                              
                                <textarea  type="text" class="form-control form-control-custom" cols="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group form-group-custom">
                            <label class="control-label  col-sm-3 col-form-label">Kode POS</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control form-control-custom" id="kodepos">
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group no-padding">
                                    <input type="text" class="form-control form-control-custom" id="kota" disabled>
                                    <div class="input-group-btn">
                                        <button class="btn btn-normal" data-toggle="modal" data-target="#cari">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-custom">
                            <label class="control-label col-sm-3">Guna Layanan</label>
                            <div class="col-sm-9">
                                <select class="form-control form-control-custom" style="font-size: 12px;" required>
                                    <option>Personal</option>
                                    <option>Usaha</option>
                                    <option>Belanja Online</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-group-custom">
                            <label class="control-label col-sm-3">Frekuensi Kirim</label>
                            <div class="col-sm-9">
                                <select class="form-control form-control-custom" style="font-size: 12px;" required>
                                    <option>Dokumen</option>
                                    <option>Paket</option>
                                    <option>Freight</option>
                                </select>
                            </div>
                        </div>                     
                        <div class="form-group form-group-custom">
                            <label class="control-label col-sm-3">Tipe Kiriman</label>
                            <div class="col-sm-9">
                                <select class="form-control form-control-custom" style="font-size: 12px;" required>
                                    <option>Dokumen</option>
                                    <option>Paket</option>
                                    <option>Freight</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-group-custom">
                            <label class="control-label col-sm-3">Logistics Saat Ini</label>
                            <div class="col-sm-9">
                                <select class="form-control form-control-custom" style="font-size: 12px;" required>
                                    <option>JNE</option>
                                    <option>TIKI</option>
                                    <option>Lainnya</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-group-custom">
                            <label class="control-label col-sm-3">Keterangan</label>
                            <div class="col-sm-9">                              
                                <textarea  type="text" class="form-control form-control-custom" cols="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3"></label>
                            <div class="col-sm-9">
                                <div class="checkbox checkbox-custom">
                                    <label>
                                        <input type="checkbox" value="">
                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        <a href="#">Syarat & Ketentuan berlaku</a>
                                    </label>
                                </div>   
                            </div>
                        </div>
                        <div class="form-group"> 
                            <label class="control-label col-sm-3"></label>
                            <div class="col-sm-9">
                                <label ></label>
                                <button class="btn-orange2" style="float: right;" ng-click="mintaPenawaran()">MINTA PENAWARAN</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--////////////////////// END /////////////////////////-->
<div id="cari" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Cari Alamat atau Kota Tujuan</h5>
            </div>
            <div class="modal-body">
                <form >
                    <div class="form-group col-sm-13">
                        <input type="text" id="carikodepos" class="form-control form-control-custom">
                    </div>  
                    <div id="map"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var postcode;
    var kota;
    var options = {
    types: ['address'],
            componentRestrictions: {country:'id'}
    };
    function initMap() {
    var input = document.getElementById('carikodepos');
    var autocomplete = new google.maps.places.Autocomplete(input, options);
    //autocomplete.bindTo('bounds', map);
//    autocomplete.setTypes(["address"]);
    autocomplete.addListener('place_changed', function () {
    var place = autocomplete.getPlace();
//    alert(place.)
    if (!place.geometry) {
    // User entered the name of a Place that was not suggested and
    // pressed the Enter key, or the Place Details request failed.
    window.alert("No details available for input: '" + place.name + "'");
    return;
    }
    var address = '';
    if (place.address_components) {
    address = [
            (place.address_components[6] && place.address_components[6].short_name ||
                    '')
    ].join(' ');
    }
    //hasil disini

    var postalcode = place.address_components[6];
    postcode = postalcode.long_name;
    kota = place.address_components[3].long_name;
    getPost();
    });
    } //initMap

    function getPost() {
    var de = document.getElementById('kodepos').value = postcode;
    var kotaresult = document.getElementById('kota').value = kota;
    }
    $('#carikodepos').keypress(function (e) {
    var key = e.which;
    if (key == 13)  // the enter key code
    {
    $('#cari').modal('hide');
    }
    });</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuw58UaCdvgQb-X0rpZpQFVxsO45L7cpk&libraries=places&callback=initMap"
async defer></script>