<div ng-app="exact" ng-controller="buktiKiirimController">
    <div ng-include="'view/menu.html'">
    </div>
    <div class="title-form">
        <h4>Bukti Kirim</h4>
    </div>
    <div class="form-group-custom col-sm-2">
        <select class="form-control form-control-custom" ng-init="getParamCari()" style="font-size: 12px;" ng-model="kolom">
            <option value="">Semua</option>
            <option ng-repeat="paramcari in paramcari" value="{{paramcari.NAMA_KOLOM}}">{{paramcari.DESKRIPSI}}</option>
        </select>
    </div>
    <div class="col-sm-4 no-padding">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control form-control-custom" placeholder="Enter text" ng-model="cari" ng-enter="getDataKiriman()">
                <div class="input-group-btn">
                    <button class="btn btn-normal" ng-click="getBuktiKiriman()">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <section class="table-dashboard-wrap">
        <table wt-responsive-table>
            <thead>
                <tr>
                    <th>
                        Tanggal
                    </th>
                    <th>
                        Jam
                    </th>
                    <th>
                        No Bukti
                    </th>
                    <th>
                        No DOP
                    </th>
                    <th>
                        Nama Kurir
                    </th>
                    <th style="width: 15px">
                        #
                    </th>
                </tr>
            </thead>
            <tbody ng-init="getBuktiKiriman()">
                <tr ng-repeat="p in dataBuktiKirim| filter:status" style="font-size: 12px;">
                    <td ng-click="print(p)">{{p.TANGGAL}}</td>
                    <td ng-click="print(p)">{{p.JAM}}</td>
                    <td ng-click="print(p)">{{p.NO_BUKTI}}</td>
                    <td>{{p.NO_DOP}}</td>
                    <td>{{p.NAMA_KURIR}}</td>
                    <td>
                        <button title="Print" ng-click="print(p)" class="btn-orange2">
                            <i class="glyphicon glyphicon-print"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
    </section>
    <section class="content-bottom-wrap">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 result-title width-100-smallscreen">
            <p>
                <span class="color-green">1</span> dari
                <span class="color-green">40</span> halaman</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 width-100-smallscreen">
            <div class="pagination-db">
                <ul>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="active">1</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">2</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">3</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">4</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">5</a>
                    </li>
                    <li class="border-right-gray">
                        <a href="javascript:void(0)">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <div class="clearfix"></div>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
</div>
<div id="keluhan" class="modal fade" role="dialog" ng-app="exact" ng-controller="pickupController">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <b class="modal-title">Keluhan</b>
            </div>
            <div class="modal-body">
                <table class="table table-striped" ng-init="getKeluhan()">
                    <tbody>
                        <tr ng-repeat="listKeluhan in listKeluhan">
                            <td style="width: 70px;">
                                <img src="{{listKeluhan.LINK_ICON}}" class="img-product" alt="icon" />
                            </td>
                            <td>
                                <p>
                                    <b>{{listKeluhan.NAMA_KELUHAN}}</b>
                                </p>
                                <p>{{listKeluhan.GUIDE}}</p>
                            </td>
                            <td>
                                <div class="radio" ng-model="kodekeluhan">
                                    <label>
                                        <input type="radio" name="keluhan" ng-model="$parent.keluhan" ng-value="{{listKeluhan.ID_KELUHAN}}" ng-click="pilihKeluhan(listKeluhan.ID_KELUHAN)"
                                        />
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="input-group">
                <input type="text" class="form-control form-control-custom" placeholder="Keterangan" ng-model="keterangan">
                <div class="input-group-btn">
                    <button class="btn btn-normal" ng-click="postKeluhan()" data-dismiss="modal">
                        <i class="glyphicon glyphicon-send">&nbsp;SEND</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="batal" class="modal fade" role="dialog" ng-app="exact" ng-controller="pickupController">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <b class="modal-title">Batalkan</b>
            </div>
            <div class="modal-body">
                <table class="table table-striped" ng-init="getBatal()">
                    <tbody>
                        <tr ng-repeat="data in listBatal">
                            <!--                            <td style="width: 70px;">
                                                                                                        <img src="{{listKeluhan.LINK_ICON}}" class="img-product" alt="icon"/>
                                                                                                    </td>-->
                            <td>
                                <p>
                                    <b>{{data.NAMA_CANCEL}}</b>
                                </p>
                                <!--                                <p>{{listKeluhan.GUIDE}}</p>-->
                            </td>
                            <td>
                                <div class="radio" ng-model="kode">
                                    <label>
                                        <input type="radio" name="batal" ng-model="$parent.batal" ng-value="{{data.ID_CANCEL}}" ng-click="pilihBatal(data.ID_CANCEL)"
                                        />
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="input-group">
                <input type="text" class="form-control form-control-custom" placeholder="Keterangan" ng-model="keterangan">
                <div class="input-group-btn">
                    <button class="btn btn-normal" ng-click="postBatalkan()" data-dismiss="modal">
                        <i class="glyphicon glyphicon-send">&nbsp;SEND</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="location" class="modal fade" role="dialog" ng-controller="pickupController">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <b>PickUp Order</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="form-horizontal">
                        <style>
                            #map {
                                height: 250px;
                                width: 100%;
                                margin-left: 1px;
                                margin-right: 1px;
                            }

                            #title {
                                color: #fff;
                                background-color: #4d90fe;
                                font-size: 25px;
                                font-weight: 500;
                                padding: 6px 12px;
                            }

                            #target {
                                width: 345px;
                            }
                        </style>
                        <div class="form-group form-group-custom col-sm-12">
                            <div id="map"></div>
                        </div>
                        <div class="form-group form-group-custom col-sm-12">
                            <label>Alamat Lengkap</label>
                            <textarea class="form-control input-sm form-control-textarea-custom" rows="2" id="alamat" ng-model="alamat" minlength="10"
                                required></textarea>
                        </div>
                        <div class="form-group form-group-custom col-sm-12">
                            <button class="btn btn-orange2" style="float: right;" ng-click="postPickup()" data-dismiss="modal"> PIKUP-ORDER</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuw58UaCdvgQb-X0rpZpQFVxsO45L7cpk&libraries=places&callback=Autocomplete">
</script>