<!-- custom js -->
<script src="assets/controller/custom.js"></script>
<div class="side-collapse-container" ng-app="exact" style="margin-top: 0px;">
    <div class="title-form">
        <h4>Kirim Stamp</h4>
    </div>
    <section class="content-menu-top scrollbar">
        <form name="kirim-form">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-left">
                <div class="form-group form-group-custom">
                    <label>No Ponsel Penerima</label>
                    <input type="text" class="form-control form-control-custom">
                </div>
                <div class="form-group form-group-custom">
                    <label>Nama Penerima/No Order</label>
                    <input type="text" class="form-control form-control-custom">
                </div>
                <div class="form-group form-group-custom">
                    <label>Kode Pos Penerima</label>
                    <input type="text" class="form-control form-control-custom">
                </div>
                <div class="form-group form-group-custom">
                    <label>Jumlah Paket</label>
                    <input type="number" class="form-control form-control-custom">
                </div>  
                <div class="form-group form-group-custom">
                    <label>Berat</label>
                    <input type="text" class="form-control form-control-custom">
                </div>

                <div class="form-group form-group-custom">
                    <div class="col-lg-6">
                        <button class="btn-orange2 width-100 margin-top-15-sm btn-block" ui-sref="liststamp">Batal</button>
                    </div>  
                    <div class="col-lg-6">
                        <button class="btn-orange2 width-100 margin-top-15-sm btn-block">Kirim</button>
                    </div>  
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-right">

            </div>
        </form>
    </section>
</div>

