<style>
    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0px 10px;
        overflow: hidden;
        background-color:#F1F1F1;
    }

    .menu li {
        float: left;
    }

    .menu li a {
        display: block;
        color:#7a7a7a;
        text-align: center;
        padding: 16px 16px;
        text-decoration: none;
        font-family: 'OpenSans-Bold', sans-serif;
        font-size: 15px;
        white-space: nowrap;
        text-align: right;
    }

    .menu li a:hover {
        font-family: 'OpenSans-Bold', sans-serif;
        background-color: #dfdede;
        font-size: 17px;
        color: #fcfcfc;
    }
</style>
<div class="header-icon-wrap" ng-app="exact">
    <div class="menu">
        <ul>
            <li>
                <a class="active" ui-sref="/"><image src="assets/img/ico-kirim-db.png" style="width: 25px;height: 25px;" /> Kirim</a>
            </li>
            <li>
                <a ui-sref="kontrol"><image src="assets/img/ico-kontrol-db.png" style="width: 25px;height: 25px;" /> Kontrol</a>
            </li>
            <li>
                <a ui-sref="liststamp"><image src="assets/img/ico-stamp.png" style="width: 25px;height: 25px;" /> Stamp</a>
            </li>
            <li>
                <a ui-sref="listtrace"><image src="assets/img/ico-trace.png" style="width: 25px;height: 25px;" /> Trace</a>
            </li>
            <li>
                <a ui-sref="buktikirim"><image src="assets/img/buktikirim.png" style="width: 25px;height: 25px;" /> Bukti Kirim</a>
            </li>
        </ul>
    </div>
    <!-- <div style="margin-top: 7px;">
        <div class="container-fluid">
            <div class="btn-group btn-breadcrumb">
                <a href="#" class="icon-db-kontrol">
                    <i class="glyphicon glyphicon-home"></i>
                </a>
                <a href="#" class="btn btn-default">KIRIRM</a>
                <a href="#" class="btn btn-default">KONTROL</a>
                <a href="#" class="btn btn-default">Default</a>
            </div>
        </div>
        <!-- <ol class="breadcrumb breadcrumb-arrow" style="margin-top: 5px;">
            <li>
                <a ui-sref="/">
                    KIRIM
                </a>
            </li>
            <li>
                <a ui-sref="kontrol" class="icon-db-kontrol">
                    KONTROL
                </a>
            </li>
            <li class="active">
                <span>Data</span>
            </li>
        </ol> -->
    <!-- </div> -->
    <!-- <div class="col-md-5ths header-feature1">
        <div class="col-xs-12 col-sm-12  col-md-12 col-lg-12 no-padding">
            <div class="icon-db-header">
                <center>
                    <a ui-sref="/">
                        <div class="icon-db-kirim"></div>
                    </a>
                </center>
                <h4>
                    <a ui-sref="/">KIRIM</a>
                </h4>
            </div>
        </div>
    </div>
    <div class="col-md-5ths header-feature2">
        <div class="col-xs-12 col-sm-12  col-md-12 col-lg-12 no-padding">
            <div class="icon-db-header">
                <center>
                    <a ui-sref="kontrol">
                        <div class="icon-db-kontrol"></div>
                    </a>
                </center>
                <h4>
                    <a ui-sref="kontrol">KONTROL</a>
                </h4>
            </div>
        </div>
    </div>
    <div class="col-md-5ths header-feature3">
        <div class="col-xs-12 col-sm-12  col-md-12 col-lg-12 no-padding">
            <div class="icon-db-header">
                <center>
                    <a ui-sref="liststamp">
                        <div class="icon-db-stamp"></div>
                    </a>
                </center>
                <h4>
                    <a ui-sref="liststamp">STAMP</a>
                </h4>
            </div>
        </div>
    </div>
    <div class="col-md-5ths header-feature4">
        <div class="col-xs-12 col-sm-12  col-md-12 col-lg-12 no-padding">
            <div class="icon-db-header">
                <center>
                    <div class="icon-db-trace"></div>
                </center>
                <h4>
                    <a ui-sref="listtrace">TRACE</a>
                </h4>
            </div>
        </div>
    </div>
    <div class="col-md-5ths header-feature5">
        <div class="col-xs-12 col-sm-12  col-md-12 col-lg-12 no-padding">
            <div class="icon-db-header">
                <center>
                    <div class="icon-db-pickup"></div>
                </center>
                <h4>
                    <a ui-sref="pickup">PICKUP</a>
                </h4>
            </div>
        </div>
    </div>
    <div class="col-md-5ths header-feature6">
        <div class="col-xs-12 col-sm-12  col-md-12 col-lg-12 no-padding">
            <div class="icon-db-header">
                <center>
                    <div class="icon-db-buktikirim"></div>
                </center>
                <h4>
                    <a ui-sref="buktikirim">BUKTI KIRIM</a>
                </h4>
            </div>
        </div>
    </div> -->
</div>