<div ng-app="exact" ng-controller="apparelController">
    <div ng-include="'view/menu.html'">
    </div>
    <div class="title-form pull-left">
        <h4>My Apparel</h4>
    </div>
    <div class="scrollbar-dynamic">
        <section class="table-dashboard-wrap">
            <div class="form-group-custom col-sm-2">
                <select class="form-control form-control-custom" ng-init="getParamCari()" style="font-size: 12px;" ng-model="kolom">
                    <option value="">Semua</option>
                    <option ng-repeat="paramKirim in paramKirim" value="{{paramKirim.NAMA_KOLOM}}">{{paramKirim.DESKRIPSI}}</option>
                </select>
            </div>
            <div class="col-sm-4 no-padding">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-custom" placeholder="Enter text" ng-model="cari" ng-enter="getDataKiriman()">
                        <div class="input-group-btn">
                            <button class="btn btn-normal" ng-click="getDataKiriman()">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group-custom col-sm-2">
                <select class="form-control form-control-custom" style="font-size: 12px;" ng-model="status">
                    <option value="">Semua</option>
                </select>
            </div>
            <div>             
                <button class="btn-orange2" style="float: right;margin-right: 3px;" ng-click="showTambah()">TAMBAH</button>
            </div>
            <table wt-responsive-table>
                <thead>
                    <tr>
                        <th>
                            No
                        </th>
                        <th>
                            No SKU
                        </th>
                        <th>
                            Nama
                        </th>
                        <th>
                            Warna
                        </th>
                        <th>
                            Berat
                        </th>
                        <th>
                            Harga
                        </th>
                    </tr>
                </thead>
                <tbody ng-init="getApparel()">
                    <tr style="font-size: 12px;" ng-cloak ng-repeat="dataApparel in dataApparel" ng-click="showUbah(dataApparel)">
                        <td style="width:10px;">{{index + 1}}</td>
                        <td>{{dataApparel.KODE_APPAREL}}</td>
                        <td>{{dataApparel.NAMA_APPAREL}}</td>
                        <td>{{dataApparel.WARNA}}</td>
                        <td>{{dataApparel.BERAT}}</td>
                        <td>{{dataApparel.HARGA}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix"></div>
    </div>
    <section class="content-bottom-wrap">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 result-title width-100-smallscreen">
            <p>
                <span class="color-green">1</span> dari
                <span class="color-green">40</span> halaman</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 width-100-smallscreen">
            <div class="pagination-db">
                <ul>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="active">1</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">2</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">3</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">4</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">5</a>
                    </li>
                    <li class="border-right-gray">
                        <a href="javascript:void(0)">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <div class="clearfix"></div>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>

    <!-- MODAL TOPUP -->
    <div id="tambah" class="modal fade" role="dialog" ng-controller="apparelController">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">CATAT APPAREL</h5>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="frmApparel">
                        <div class="form-group">
                            <label class="control-label col-sm-3">No SKU</label>
                            <div class="col-sm-8">          
                                <input type="text" class="form-control form-control-custom" id="nosku" ng-model="nosku">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Nama SKU</label>
                            <div class="col-sm-8">          
                                <input type="text" class="form-control form-control-custom" ng-model="namasku">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Warna</label>
                            <div class="col-sm-8">          
                                <input type="text" class="form-control form-control-custom" ng-model="warna">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="pwd">Harga/Pcs</label>
                            <div class="col-sm-8">          
                                <input type="text" class="form-control form-control-custom" ng-model="harga">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="pwd">Berat</label>
                            <div class="col-sm-8">          
                                <input type="text" class="form-control form-control-custom" ng-model="berat">
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom: 10px;margin-top: 10px;">  
                            <label class="control-label col-sm-3"></label>
                            <div class="col-sm-4">
                                <button class="btn-orange2" style="float: left;">HAPUS</button>
                            </div>
                            <div class="col-sm-5">
                                <button class="btn-orange2" style="float: left;" id="btnSimpan" ng-click="postApparel()">SIMPAN</button>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

